<script src="http://code.jquery.com/jquery-1.4.4.min.js" type="text/javascript"></script>

<script type="text/javascript">
$(document).ready(function() { 
    $('#logo').delay(750).fadeIn(2500);
});
</script>

<div id="pics">
  <%= image_tag "dark_red_logo_dark_title_v3.png", id: 'logo' %>
</div>


