<script src="http://code.jquery.com/jquery-1.4.4.min.js" type="text/javascript"></script>

<script type="text/javascript">
$(document).ready(function() { 
    $('#logo').delay(2000).fadeOut(5000);
});
</script>

<div id="pics">
  <%= image_tag "black_logo.jpg", id: 'logo' %>
</div>

