<div class="container">
     <!--<div class="jumbotron">
    </div>-->
    <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-2">
        </div>
        <div class="col-sm-6 col-md-4 col-lg-2">
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-12">
	 <!--  <footer>
            <p>© Copyright 2013 Alexander the Great</p>
          </footer> -->
        </div>
    </div>
</div>



<!-- <a class="twitter-timeline" href="https://twitter.com/jimmyvalentines" data-widget-id="554730082536013825">Tweets by @jimmyvalentines</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script> -->
